*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* stile sfondo/colori */
.blue-back {
    background-color: rgb(4, 99, 136);
}
.back-white {
    background-color: white;
}
.back-black {
    background-color: black;
}
.azzurro {
    background-color: rgb(63, 214, 164);
}
.darkblue-back {
    background-color: rgb(10, 38, 90);
}
.white {
    color: white;
}


/* stile stella e righe */
.divisorio {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1% 0;
}
.righe {
    height: 3px;
    width: 8%;
    border-radius: 5px;
    margin: 0 1%;
}

/* stile immagini  */
#avatar {
    max-width: 350px;
}
.immagini {
    max-width: 100%;
    border-radius: 15px;
    margin: 10px;
}

/* stile icone footer  */
.icon {
    margin: 2%;
    border: solid 1px white;
    border-radius: 50%;
    padding: 10px;
}
.icon.fa-brands.fa-facebook-f {
    padding: 10px 13px;
}
.icon.fa-brands.fa-google-plus-g {
    padding: 10px 8px;
}

.center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#foot-footer {
    padding-top: 10px;
    padding-bottom: 10px;
}

.pad-sec {
    padding-top: 40px;
    padding-bottom: 40px;
}

.text-about {
    margin-top: 5px;
    margin-bottom: 5px;
}