*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-fluid {
    background-color: rgb(4, 99, 136);
}
.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.head-menu {
    font-size: 10px;
}
.white {
    color: white;
}
.azzurro {
    background-color: rgb(63, 214, 164);
}
.center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.back-white {
    background-color: white;
}
#avatar {
    max-width: 300px;
}
.immagini {
    max-width: 420px;
    border-radius: 15px;
    margin: 10px;
}
